## Settings file was created by plugin Suikoden Fix v1.5.2
## Plugin GUID: d3xMachina.suikoden_fix

[Advanced]

## Active the classic mode (PS1 visuals). This is a proof of concept, it is unfinished and many assets are missings.
# Setting type: Boolean
# Default value: false
ClassicMode = false

## Allow you to edit your saves. Make sure to backup your saves for safety. After saving, go to "(GAME_PATH)\SuikodenFix\Decrypted\gsd1\" for Suikoden 1 or "(GAME_PATH)\SuikodenFix\Decrypted\gsd2\" for Suikoden 2. You will have the save file in the json format. Modify the content of the file then load your save again. You can save again to have the changes persist and disable this option.
# Setting type: Boolean
# Default value: false
EditSave = false

## Allow you to edit the game texts. Set to 1 to enable, 2 to enable and log the game texts, and 0 to disable. The game texts are loaded from the GameTexts.json file in "(GAME_PATH)\SuikodenFix\" (you need to create one with UTF8 encoding). The logs of the game texts are saved to the GameTextsLog.txt file in the same folder, they are also logged in the console too but with the wrong encoding. The valid languages are : Japanese, English, French, Italian, German, Spanish, ChineseZhHant and ChineseZhHans. Example of a valid GameTexts.json :
## {
##     "English": {
##         "add_message": {
##             "1118": "LOAD",
##             "1398": "Backspace∠Confirm"
##         },
##         "message" : {
##             "3278": "Master"
##         }
##     }
## }
# Setting type: Int32
# Default value: 0
EditText = 0

## Keep a backup of the last N saves in "(GAME_PATH)\SuikodenFix\Backup\gsd1\" for Suikoden 1 or "(GAME_PATH)\SuikodenFix\Backup\gsd2\" for Suikoden 2, where N is the number you set for this option.
# Setting type: Int32
# Default value: 0
BackupSave = 0

## Disable the binary patches. Use this if the game was updated but not Suikoden Fix since it could crash or have unexpected behavior otherwise. It will disable some options partially or completly depending on which one.
# Setting type: Boolean
# Default value: false
DisableBinaryPatches = false

[Audio]

## Change the pitch or speed of the music when you change the game speed. Set 0 to have the sounds remain the same, 1 to have the sounds played at a higher pitch, 2 to have the sounds played faster at specific speeds, 3 to have the sounds played faster matching the game speed, or -1 for the default behavior.
# Setting type: Int32
# Default value: -1
SpedUpMusic = -1

## Change the pitch or speed of sound effects when you change the game speed. Set 0 to have the sounds remain the same, 1 to have the sounds played at a higher pitch, or -1 for the default behavior.
# Setting type: Int32
# Default value: -1
SpedUpSoundEffect = -1

## Don't play a sound effect when a message window appears.
# Setting type: Boolean
# Default value: false
DisableMessageWindowSound = false

## (Suikoden 2 only) Don't play a sound effect when a character is startled (with the icon above the head).
# Setting type: Boolean
# Default value: false
DisableStartledSound = false

[Cheat]

## Multiply the damage of your party members in battle. (Damage capped at 9999 before bonus)
# Setting type: Single
# Default value: 1
PlayerDamageMultiplier = 1

## Multiply the damage of enemies in battle. (Damage capped at 9999 before bonus)
# Setting type: Single
# Default value: 1
MonsterDamageMultiplier = 1

## Multiply the HP of enemies in battle. (HP capped at 32767)
# Setting type: Single
# Default value: 1
MonsterHealthMultiplier = 1

## Multiply the experience gained after a battle.
# Setting type: Single
# Default value: 1
ExperienceMultiplier = 1

## Multiply the money gained after a battle.
# Setting type: Single
# Default value: 1
MoneyMultiplier = 1

## Multiply the chance to loot an item after a battle. A value of 255 will guarantee the monster will drop its items (if it has items it can drop).
# Setting type: Single
# Default value: 1
LootMultiplier = 1

## Multiply the chances to get into a battle when walking. A value of 0 will disable encounters and 512 will guarantee you the highest probability. Encounters are checked every few steps mostly.
# Setting type: Single
# Default value: 1
EncounterRateMultiplier = 1

## Your party members recover their HP after a battle.
# Setting type: Boolean
# Default value: false
RecoverHpAfterBattle = false

## Your party members recover their MP after a battle.
# Setting type: Boolean
# Default value: false
RecoverMpAfterBattle = false

## (Suikoden 2 only) Rare finds will always be in stock in the shops. Unique items can only be bought once.
# Setting type: Boolean
# Default value: false
RareFindsAlwaysInStock = true

## You will win minigames even if you lose. In the fish minigame, catching will be instant and give a random fish with equal probability.
# Setting type: Boolean
# Default value: false
EasyMinigames = false

## (Suikoden 2 only) McDohl will be available in Leona's party menu if you recruited him. Both Kasumi and Valeria will be available if you recruited one of them.
# Setting type: Boolean
# Default value: false
BetterLeona = false

## (Suikoden 1 only) Ted and Odessa will be available in Sanchez's party menu.
# Setting type: Boolean
# Default value: false
BetterSanchez = false

## (Suikoden 2 only) Add Gregminster and the secret room in Radat Town to the teleport locations. The locations are added at the end of the list, only if you visited them before.
# Setting type: Boolean
# Default value: false
MoreTeleportLocations = false

## Shops in the headquarters (armor, item and rune shops) sell all items in their category. Set to 1 to enable, 2 to also have key items and 0 to disable.
# Setting type: Int32
# Default value: 0
AllItemsInHQ = 0

[Display]

## Set the FPS limit. Set to 0 to uncap, a positive value, or -1 to use the default behavior. The game loop doesn't update more than 60 times a seconds and higher FPS can make the game slower and/or stutter (barely noticeable at high frame rate). If you use an external FPS limiter you can set this to 0.
# Setting type: Int32
# Default value: -1
FPS = -1

## Set to 0 to disable VSync, 1 to enable VSync or -1 to use the default behavior. When on, the framerate will match your monitor refresh rate. Higher refresh rate than 60 Hz can make the game slower and/or stutter (barely noticeable at high refresh rate). It is recommended to disable the Vsync in game or here to have the game running at 60 FPS and to enable it in the GPU driver.
# Setting type: Int32
# Default value: -1
Vsync = -1

## Set to your desired width resolution.
# Setting type: Int32
# Default value: -1
Width = -1

## Set to your desired height resolution.
# Setting type: Int32
# Default value: -1
Height = -1

## Set to 0 for windowed mode or 1 for fullscreen mode. It also correct the aspect ratio for movies from the original Suikoden.
# Setting type: Int32
# Default value: -1
Fullscreen = -1

## Only use this option if your game is running at 60 FPS, otherwise the game will be slower or faster.
# Setting type: Boolean
# Default value: false
NoFrameSkip = false

[Misc]

## Allows you to save anywhere in the slot you specify using the select button or the F1 key. Set 0 to save in the last slot or the slot number.
# Setting type: Int32
# Default value: -1
SaveAnywhere = -1

## Set the number of normal save slots (-1 for default, 16 minimum). You can use the left and right buttons/keys to navigate multiple save slots at once.
# Setting type: Int32
# Default value: -1
SaveSlots = -1

## Remember the battle speed between battles. It will also disable the speedhack in battle like NoSpeedHackInBattle.
# Setting type: Boolean
# Default value: false
RememberBattleSpeed = false

## Allow you to exit the application by pressing the start button or the escape key on the title selection screen.
# Setting type: Boolean
# Default value: true
ExitApplication = true

## Allow you to go back to the title screen of the game by pressing start + left shoulder + right shoulder on the gamepad or Escape + R on the keyboard.
# Setting type: Boolean
# Default value: true
ResetGame = true

## Pause the game by pressing the start button or the tab key. It pauses everything including the game timers.
# Setting type: Boolean
# Default value: true
PauseGame = true

## Increase the money cap from 999,999 to 999,999,999.
# Setting type: Boolean
# Default value: false
UncapMoney = true

## Unlock the x4 battle speed and run on the worldmap without Stallion.
# Setting type: Boolean
# Default value: false
StallionBoons = true

[Movement]

## Restrict the movements to 4 directions instead of 8, except on the worldmap.
# Setting type: Boolean
# Default value: false
DisableDiagonalMovements = false

## Make the dash command a toggle instead of having to hold it.
# Setting type: Boolean
# Default value: false
ToggleDash = false

[Skip]

## Skip the intro splashscreens.
# Setting type: Boolean
# Default value: true
SkipSplashscreens = false

## Skip the intro movie.
# Setting type: Boolean
# Default value: false
SkipMovies = false

## Change the speed of fade in/out on the loading screen. Set to 0 for instant transition, a positive value to speed up or -1 for the default behavior.
# Setting type: Single
# Default value: -1
LoadingTransitionFactor = -1

## Change the speed of fade in/out in the main menu. Set to 0 for instant transition, a positive value to speed up or -1 for the default behavior.
# Setting type: Single
# Default value: -1
TitleMenuTransitionFactor = -1

## (Suikoden 1 only) Change the speed of fade in/out when changing zone. Set to 0 for instant transition, a positive value to speed up or -1 for the default behavior.
# Setting type: Single
# Default value: -1
ZoneTransitionFactor = -1

## (Suikoden 2 only, might cause some events to not trigger!!!) Change the speed of fade in/out when changing zone. Set to 0 for instant transition, a positive value to speed up or -1 for the default behavior.
# Setting type: Single
# Default value: -1
ZoneTransitionFactor2 = -1

## Increase the game speed by X when the R2 button or the T key is pressed. Minimum value of 1.
# Setting type: Int32
# Default value: 1
SpeedHackFactor = 1

## The speedhack will change the game timer (used for events) accordingly. It will not take effect in battle. Only relevant when using SpeedHackFactor.
# Setting type: Boolean
# Default value: true
SpeedHackAffectsGameTimer = true

## The speedhack will take effect in shop menus and some special menus like tablet, investigation, teleport...
# Setting type: Boolean
# Default value: false
SpeedHackAffectsSpecialMenus = false

## The speedhack will take effect in dialogues when a message box appears
# Setting type: Boolean
# Default value: false
SpeedHackAffectsMessageBoxes = false

## Disable the speedhack in battle. Only relevant when using SpeedHackFactor.
# Setting type: Boolean
# Default value: false
NoSpeedHackInBattle = false

## Display messages instantly.
# Setting type: Boolean
# Default value: false
InstantMessage = false

## (Suikoden 2 only) No need to wait for the Richmond investigations.
# Setting type: Boolean
# Default value: false
InstantRichmondInvestigation = true

## No need to wait when doing operations in shops like leveling up weapons or appraising items.
# Setting type: Boolean
# Default value: false
InstantShop = true

[Visual]

## Disable the vignette effect (darkened corners) that is displayed in some scenes.
# Setting type: Boolean
# Default value: false
DisableVignette = false

## Disable the vignette effect (darkened corners) for vignettes with a custom appearance that is displayed in some scenes (in the night time intro scene of Suikoden 2 for example).
# Setting type: Boolean
# Default value: false
DisableMaskedVignette = false

## Disable the depth of field effect visible in battles.
# Setting type: Boolean
# Default value: false
DisableDepthOfField = false

## Change the intensity of the bloom effects. Set to 0 to disable the bloom effects entirely.
# Setting type: Single
# Default value: 1
BloomMultiplier = 1

## Smooth out the sprites using a bilinear filter. It might make the sprites a bit blurry.
# Setting type: Boolean
# Default value: false
SmoothSprites = false

## Change the background color of most windows instead of the default black. Use the hex format (#000C7A for example).
# Setting type: String
# Default value: 
WindowBGColor = 

## Replace the font of the messages boxes with either a system font, or a custom font file. Use the font file name for system fonts (arial.ttf for example), or the path for custom fonts (c:\MyFontsFolder\myfont.ttf or myfont.ttf if the font is in the game folder for example).
# Setting type: String
# Default value: 
CustomFontMessage = 

## Replace the font of the UI with either a system font, or a custom font file. Use the font file name for system fonts (arial.ttf for example), or the path for custom fonts (c:\MyFontsFolder\myfont.ttf or myfont.ttf if the font is in the game folder for example).
# Setting type: String
# Default value: 
CustomFontUI = 

## Don't show the autosave notification window.
# Setting type: Boolean
# Default value: false
DisableAutoSaveNotification = false

